.upload--explanation {font-size: .8em; color: #777677;}
.error {color: #a53725; textAlign: center;}
/*.radio-group { display: flex; justify-content: space-between; align-items: end;}*/
.radio-group > div { display: inline-block; margin-right: 2em; }
.radio-group img { height: 100%; padding-right: 1em; height: 3em; vertical-align: middle; }
.input-embed { height: 1200px; width: 100%; }
/* todo: create shorter input-embeds for narrower break-points */
h2, ._content--output { margin-top: 1em; }
body { padding-bottom: 200px; }
